In [1]:
import pandas as pd

In [2]:
data = {"note":[1,2,3,4,5],'title':['aya','bayek','ezio','yoda','ashoka'],'pg_count':[10,200,1600,150,250]}

In [3]:
pd.DataFrame(data)

   note   title  pg_count
0     1     aya        10
1     2   bayek       200
2     3    ezio      1600
3     4    yoda       150
4     5  ashoka       250